.header-inner{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
body{
    background: url(https://funart.pro/uploads/posts/2021-04/1618601593_32-funart_pro-p-oboi-fon-fon-v-stile-anime-33.jpg);
}
video{
    width: 800px;
   
}